

    form {
        position: relative;
        float : right;
        display : inline;
        padding : 1em;
        margin : 0.0em;
        background : radial-gradient(circle, rgb(238, 174, 202, 1) 0%, rgb(148, 187, 233, 1) 100%);
        font-family : Verdana, Geneva, Tahoma, sans-serif;
        font-size : 1em;
        }
        form p {
        display : table-row;
        margin-left : 0.1em;
        font-family : Verdana, Geneva, Tahoma, sans-serif;
        font-size : 1em;
        box-sizing : border-box;
        }
        .pole {
        display : table-cell;
        margin-bottom : 1em;
        background-color : rgb(224, 250, 252);
        border : rgb(14, 121, 244) solid 1px;
        border-radius : 0.4em;
        }
        .poledate {
        width : 97%;
        border-radius : 0.4em;
        margin-bottom : 0.8em;
        }
        p .label {
        display : table-cell;
        font-size : 1em;
        }
        button {
        display : block;
        float : right;
        background-color : hsl(191 27% 33%);
        border : rgb(14, 121, 244) solid 1px;
        color : white;
        transition-duration : 0.8s;
        cursor : pointer;
        }
        button:hover {
        background-color : rgb(138, 138, 138);
        color : blanchedalmond;
        }
   

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
        .p-wrapper {
        font-size : 0.7em;
        text-align : justify;
        font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-right : 0.5em;
        }
        
        input[type="range"] {
            cursor : grab;
            padding : initial;
            border : initial;
            margin : 2px;
            }
        
        #recenzia {
        margin-bottom : 0;
        color : #00001E;
        }
        @media only screen and (max-width: 290px) {
        .logo {
        text-align : center;
        }
        form {
        display : block;
        width : 100%;
        }
        .pole {
        display : block;
        width : 85%;
        }
        form p {
        display : block;
        }
        .poledate {
        width : 97%;
        border-radius : 0.6em;
        text-align : center;
        width : 85%;
        }
        .label {
        display : block;
        }
        h1 {
        color : rgb(255, 255, 255);
        text-align : center;
        display : block;
        margin-top : 1em;
        font-family : Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        
        .p-wrapper {
        text-align : center;
        margin-right : 0.5em;
        color : white;
        }
        button {
        width : 85%;
        float : left;
        }
        }


        #logoAnimation{
            margin-top: 3em;
            margin-left: 4em;
            margin-right: auto;
            position: absolute;
            width: 20%;
            height: 45%;           
          }

          
         
          
          #blackAnim{
            position: relative;
            box-sizing: border-box;
            background-color: transparent;
            width: 150px;
            height: 150px;
            border: solid rgb(68, 68, 68) 10px;
            animation-name: blackAnim;
            animation-duration: 2s;
            animation-iteration-count: 3;

            }
          
          #greenAnim{
            position: relative;
            box-sizing: border-box;
            top: -170px;
            left: 20px;
            background-color: transparent;
            width: 150px;
            height: 150px;
            border: solid green 10px;
            animation-name: greenAnim;
            animation-duration: 2s;
            animation-iteration-count: 3;
          }
          
          #blueAnim{
            position: relative;
            box-sizing: border-box;
            top: -300px;
            left: 20px;
            background-color: transparent;
            width: 150px;
            height: 150px;
            border: solid blue 10px;
            animation-name: blueAnim;
            animation-duration: 2s;
            animation-iteration-count: 3;

          }
          
          #redAnim{
            position: relative;
            box-sizing: border-box;
            top: -470px;
            left: 0px;
            background-color: transparent;
            width: 150px;
            height: 150px;
            border: solid red 10px;
            animation-name: redAnim;
            animation-duration: 2s;
            animation-iteration-count: 3;
             
          }


         @keyframes blackAnim {
            0%   { left:0px; top:0px;}
            25%  { left:150px; top:0px;}
            50%  { left:150px; top:150px;}
            75%  { left:0px; top:150px;}
            100% { left:0px; top:0px;}
          }

          @keyframes greenAnim {
            0%   { left:20; top:-170px;}
            25%  { left:-170px; top:20px;}
            50%  { left:-170px; top:-170px;}
            75%  { left:0px; top:-170px;}
            100% { left:20; top:-170px;}
          }

          @keyframes blueAnim {
            0%   { left:20px; top:-300px;}
            25%  { left:-20px; top:-500px;}
            50%  { left:-200px; top:-500px;}
            75%  { left:-200px; top:-70px;}
            100% { left:20px ; top:-300px;}
          }
          @keyframes redAnim {
            0%   { left:0px; top:-470px;}
            25%  { left:100 px; top:-620px;}
            50%  { left:200px; top:-620px;}
            75%  { left:20px; top:-320px;}
            100% { left:0px ; top:-470px;}
          }


        